<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-primary card-outline mb-4">
        <div class="card-body box-profile">
          <h3 class="profile-username text-center"><%= @applicant.name %></h3>

          <h5>Tags</h5>
          <div id="tags-box" class="my-2">
            <% @applicant.tags.each.with_index do |tag, i| %>
              <%= link_to applicant_path(id: @applicant.id, remove_tag: tag.name), method: :put, remote: true do %>
                <span
                  class="badge bg-secondary tag-remove"
                  data-tagname="<%= tag.name %>"><%= tag.name %>
                    <span
                      class="fw-lighter text-decoration-underline">x</span></span><% end %>
            <% end %>
          </div>
          <%= form_with url: applicant_path(@applicant), method: :put, remote: true do |f| %>
            <%= f.text_field :add_tag, class: 'form-control', placeholder: 'Add Tag', autocomplete: :off, pattern: '[a-zA-Z0-9 #.+]+', require: true, id: :add_tag_input %>
          <% end %>

          <hr>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Notes</b> <a class="float-right">1,322</a>
            </li>
            <li class="list-group-item">
              <b>Attachments</b> <a class="float-right">543</a>
            </li>
            <li class="list-group-item">
              <b>Rating</b> <a class="float-right">13,287</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">About Me</h3>
        </div>

        <div class="card-body">
          <strong><i class="fas fa-book mr-1"></i> Education</strong>
          <p class="text-muted">
            B.S. in Computer Science from the University of Tennessee at
            Knoxville
          </p>
          <hr />
          <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
          <p class="text-muted">Malibu, California</p>
          <hr />
          <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
          <p class="text-muted">
            <span class="tag tag-danger">UI Design</span>
            <span class="tag tag-success">Coding</span>
            <span class="tag tag-info">Javascript</span>
            <span class="tag tag-warning">PHP</span>
            <span class="tag tag-primary">Node.js</span>
          </p>
          <hr />
          <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            fermentum enim neque.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#activity" data-toggle="tab"
                >Notes</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#timeline" data-toggle="tab"
                >Attachments</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#settings" data-toggle="tab"
                >Appointments</a
              >
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="tab-content">
            <div class="active tab-pane" id="activity">
              <%= form_with url: notes_path(applicant_id: @applicant.id), method: :post, id: :note_create_form do |f| %>
                <%=
                  f.text_field :content,
                              class: 'form-control',
                              placeholder: 'Type a Note',
                              required: true,
                              minlength: 2 %>
                <%= f.submit 'Add Note',
                             class: 'mt-1 btn btn-primary',
                             data: { :disable_with => "Adding Note..." } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <% @applicant.notes.order(created_at: :desc).each do |note| %>
      <div class="post card my-1" id="note-card-<%= note.id %>">
        <div class="card-body px-3 py-2">
          <p class="m-0">
            <%= note.content %>
          </p>
          <p class="mb-0 text-secondary">
            <span class="small"
              ><%= note.created_at.strftime('%c %Z') %></span>
            <%=
              link_to 'Delete',
                      note_path(applicant_id: @applicant.id, id: note.id),
                      method: :delete,
                      remote: true,
                      class: 'btn btn-outline-danger btn-sm',
                      data: { :disable_with => "Deleting..." } %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
